<h4>会員情報編集</h4>

<%= form_with model:@customer do |f| %>
  <div class="form-group">
    <%= f.label :名前 %> <%= f.text_field :last_name, placeholder:"令和", autofocus: true %>
    <%= f.text_field :first_name, placeholder:"道子", autofocus: true %>
  </div></br>

  <div class="form-group">
    <%= f.label :フリガナ %> <%= f.text_field :last_name_kana, placeholder:"レイワ", autofocus: true %>
    <%= f.text_field :first_name_kana, placeholder:"ミチコ", autofocus: true %>
  </div><br>

  <div class="form-group">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code, placeholder:"0000000", autofocus: true %>
  </div><br>

  <div class="form-group">
    <%= f.label :住所 %>
    <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :電話番号 %>
    <%= f.text_field :phone_number, placeholder:"00000000000", autofocus: true %>
  </div>
  
  <div class="form-group">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, placeholder:"sample@sample.com", autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "編集内容を保存", class: "btn btn-success" %>
  </div><br>
  
  <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
  
<% end %>
